/* CSS General */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Poppins:wght@700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

h1,
h3,
span {
  font-family: "Poppins", sans-serif;
}

/* Variables */

:root {
  --primary-color: #18254c;
  --secondary-color: #e62e6b;
}

/* Backgrounds */

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-img {
  background-image: url(../img/test.png);
  padding-top: 5rem;
}

.bg-subscribe {
  background-image: url(../img/suscribe-img.png);
  background-repeat: no-repeat;
}

.bg-blur {
  backdrop-filter: blur(4px);
}

/* Colors */

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

/* Buttons style */

.button:hover {
  background-color: #d12d64;
}

.button-second:hover {
  background-color: #1d2e61;
}

/* Sizes */

.w-container {
  width: 90%;
}

.mr {
  top: 20px;
}

.input-border {
  border: var(--primary-color) 2px solid;
}

.text-size {
  font-size: 4rem;
}

.gap-flex {
  gap: 5rem;
}

/* Bootstrap */

.accordion-button:not(.collapsed) {
  background-color: #263974;
}
